*{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: #333;
}

h4, h5, h6{
    margin-top: 10px;
    margin-bottom: 10px;
}
body{
    margin:0;
    padding:0;
    color: #777;
    width: 100%;
    height:100%;
    font-size: 17px;
    line-height: 1.7;
    font-weight: 400;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}
nav{
    position: fixed;
    background-color: rgba(255, 255, 255, 0.9);
    background-color: white;
    width: 100%;
    margin:auto;
    overflow:hidden;
}
nav:after {
    content: '';
    display: block;
    clear: both;
}
.logo .menu{
    display: inline-block;
}
.logo{
    float: left;
    margin: 16px 0 16px 180px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 24px;
}

.logo a{
    display: inline-block;
    color: #f26651;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 300;
    font-size: 30px;
    margin-top: 5px;
    letter-spacing: 3px;
}
nav ul li a:hover,
nav ul li a.active {
  color: #555;
}
.menu{
    
    float: right;
    margin: 0;
    margin-top: 16px;
    margin-right: 150px;
}

.menu .active {
    color: #f26651;
}

.menu a{
    color: #777;
    text-decoration: none;
    font-size: 14px;  
} 
.menu ul{
    list-style: none;
    padding-left: 0px;
    margin:0px;
    width: 100%;
}
.menu ul li{
    display: inline-block;   
    margin-right: 20px; 
}
.menu ul li a{
    text-decoration: none;
    padding: 20px 10px 20px 10px;
    font-size: 1.2em;
}

.menu ul li a:hover{
   
    color: #f26651;
    
    font-weight: 300;
    transition: all 0.5s ease;
}

/*----------HEADER---------*/
header{
    min-height: 500px;
    background-image: url("http://i68.tinypic.com/bf3psj.jpg");
    
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed;
    background-position-y: -160px; */
}

header p{
    margin: 0;
}
.hero-container{
    text-align: center;
    padding-top: 100px;
    color: #fff;
}
.hero-container h1{
    color: rgb(39, 39, 39);
    font-size: 80px;
    font-weight: 700;
    line-height: 1.1;
}
.hero-container h2{
    color: rgb(39, 39, 39);
    font-size: 30px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 20px;
    line-height: 1.4;
}
.hero-container hr {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid #f7f7f7;
}
.button-work, .button-contact{
    background-color: #777;
    display: inline-block;
    width: 150px;
    padding: 15px 10px;
    color: white;
    margin: 15px 10px;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    border: 1px solid white;
}
.button-work:hover, .button-contact:hover{
    background: white;
    text-decoration: none;
    color: #f26651;
    transition: all 0.5s ease;
}







/*-------about-------*/

.about{
    width: 100%;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-right: 5%;
    padding-left: 5%;

}
.about:after{
    content:'';
    display: block;
    clear: both;
}
.about h2{
    margin-top: 0;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 40px;
    line-height: 35px;
    position: relative;
    text-align: center;
    padding-bottom: 20px;
    text-transform: uppercase;
    

    
}
.about h2:after{
    content:'';
    position: absolute;
    width: 80px;
    height: 5px;
    margin-left: -40px;
    left: 50%;
    bottom: 10px;
    background-color: rgb(77, 225, 245);
}
.about .col-left, .about .col-right {
    width: 50%;
    float: left;
}
.about .col-left{
    padding-left: 5%;
    padding-right: 5%;
}
.about a{
    background: rgb(77, 225, 245);
    text-decoration: none;
    color: white;
    border-radius: 5%;
    font-size: 17px;
    display: inline-block;
    padding: 10px 25px;  
}
.about .col-left img{
   
    max-width: 100%;
}
.about h4{
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 21px;
    font-weight: bold;
}
.about p{
    
    font-size: 19px;
    line-height: 1.4;
    margin-right:3%;
}
.button-hire:hover{
    margin: 20%;
    background: rgb(39, 203, 224);
    color: rgb(255, 255, 255);
    transition: all 0.5s ease;
}

/*------projects-------*/

.my-projects {
    background-color: #ffffff;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    
    margin: auto;
    overflow: hidden;
}


.my-projects:after{
    content: '';
    display: block;
    clear: both;
    
}
.my-projects h2{
    text-transform: uppercase;
    margin-bottom: 50px;
    margin-top: 0px;
    position: relative;
   
}

.my-projects h2:after{
    content: '';
    position: absolute;
    width: 80px;
    height: 5px;
    margin-left: -40px;
    left: 50%;
    bottom: 0px;
    background-color: #f26651;
    
    
}
.my-projects .project1,
.my-projects .project2,
.my-projects .project3, 
.my-projects .project4, 
.my-projects .project5, 
.my-projects .project6 {
    height: 300px;
    width: 30%;
    float: left;
    position: relative;
    overflow: hidden;
}
.my-projects .project1{
    margin-left: 2%;
    margin-right: 1.5%;
    background-image: url(http://i68.tinypic.com/5wjkhe.jpg);
    background-size: cover;
}
.my-projects .project2{
    margin-left: 1%;
    margin-right: 1%;
    background-image: url("http://i65.tinypic.com/9ia07p.jpg");
    background-size: cover;
}
.my-projects .project3{
    margin-left: 1.5%;
    margin-right: 2%;
    background-image: url("http://i66.tinypic.com/ve13s0.jpg");
    background-size: cover;
   
}
.my-projects .project4{
    margin-left: 2%;
    margin-right: 1.5%;
    margin-top: 2%;
    background-image: url("http://i63.tinypic.com/cnigp.jpg");
    background-size: cover;
   
}
.my-projects .project5{
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 2%;
    background-image: url("https://preview.ibb.co/jXbU1b/gala.jpg");
    background-size: cover;
   
}
.my-projects .project6{
    margin-left: 1.5%;
    margin-right: 2%;
    margin-top: 2%;
    background-image: url("https://preview.ibb.co/cN4Ggb/agm.jpg");
    background-size: cover;
   
}
.my-projects .overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    padding-top: 310px;
   
}
.my-projects .overlay:hover{
    background-color: rgba(72, 249, 239, 0.5);
    padding-top: 130px;
    transition: all 0.5s ease-in;
    padding-top: 130px;
}
.overlay a{
    display: inline-block;
    color: #f26651;
    font-size: 18px;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    background-color: #fff;
}

/*------contact section-----------*/
.contact-section{
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding-top: 50px;
    padding-bottom: 50px;
}
.contact-section:after{
    content: '';
    display: block;
    clear: both;
}
.contact-section h2{
    text-transform: uppercase;
    margin-bottom: 70px;
    margin-top: 0px;
    position: relative;
}

.contact-section h2:after{
    content: '';
    position: absolute;
    width: 80px;
    height: 5px;
    margin-left: -40px;
    left: 50%;
    bottom: 0px;
    background-color: #f0fd00;
}
.social-container {
    width: 80%;
    margin: 0 auto;
    text-align: left;
    font-size: 19px;
    padding-left: 5%;
    padding-right: 5%;
}

}
.social-container i{
    float: left;
    margin-top: 17px;
    margin-right: 20px;
    font-size: 24px;
    color: lightgray;
}
.col-1,
.col-2,
.col-3 {
    width:33.33%;
    display: inline-block;
    float:left;
}
.col-3 p{
    margin-bottom: 0;
    margin-top: 7px;

}
.text-bold{

}

/*----footer-------*/
footer{
    background-color: grey;
    color: #fff;
    padding: 10px 10px;
}
footer:after{
    content: '';
    display: block;
    clear: both;

}
.footer-text{
    float: left;
}
.footer-text i{
    color:#fff;
}
.social{
    float: right;
    margin-top: 12px;
}
.social i{
    font-size: 25px;
    margin-right: 15px;
    padding: 10px 10px;
}
.social i:hover{
}
.footer-text p{
    margin-top: 0;
}

@media(max-width: 768px){
    .logo, 
     nav,
    nav ul li, .about, .hero-container, 
    .menu .col-right,
    .my-projects .project1,
    .my-projects .project2,
    .my-projects .project3,
    .my-projects .project4,
    .my-projects .project5,
    .my-projects .project6, .contact-section, .social-container, 
    .col-1, .col-2, .col-3
    {
        float:none;
        text-align:center; 
        width:100%;
    }
   
    .hero-container{
		padding-top:20px;
		}
    .logo{
        display: block;
        text-align: center;
        padding-right: 100px;
    }
    .menu{
        margin-top:0px;
        padding:0px;
    }
}
